.d-grid{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
}
.icon-shadow{
    box-shadow: 0px 0px 0 5px white;
}
.seconds > .seconds:nth-child(1){
    display: none;
}
.flip-clock-label{
    display: none;
}
div.gridview > div:first-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* gap: 20px; */
}
@media screen and (max-width:767px) {
    div.gridview > div:first-child{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap:10px;
    }
}
.cryptoboxes{
    width: 100% !important;
}
.cryptoboxes a{
    margin: 0px !important;
}
div.gridview > a:last-child{
    display: none;
}
div.gridview > div:first-child > a:nth-child(2){
    background-color: #FDE200;
}
div.gridview > div:first-child > a:nth-child(2) p{
    color:black;
}
/* .mcw-pricelabel{
    color: black;
}
.mcw-price{
    color:black;
} */
.title-bar{
    display: none;
}
.mcw-table .dataTables-footer{
    display: none !important;
}
.cryptohopper_logo_ticker_1 {
    display: none;
    border-radius: 0% !important;
}